/*
 * bootstrap adjustments 
 */
.banner a:hover {
    text-decoration: none;
}

h1 {
    margin-top: 1em;
}

h1:first-child {
    margin-top: 0;
}

h2 {
    margin-top: 0.66em;
}

/*
 * HAL specific styles  
 */
.article-meta {
    margin-top: 20px;
    color: #999;
    font-weight: 200;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.date {
}

.date .day {
    font-size: 2em;
}

.date .month {
}

.date .year {
}

.post-tags {
    margin-top: 10px;
    font-size: 0.9em;
}

.post-tags a {
    color: #999;
    display: block;
}

.post-tags a:hover {
    color: #7a7a7a;
    text-decoration: none;
}

.post-tags .post-tag::before {
    content: "\f02b"; /* icon-tag */
    font-family: FontAwesome;
    padding-right: 10px;
}

.pagination {
    margin-top: 20px;
}

@media (max-width: 767px) {
    span.visible-phone {
        display: inline !important;
    }

    .post-tags a {
        display: inline;
        margin-right: 5px;
    }

    .post-tags .post-tag::before {
        content: "";
        padding: 0;
    }
}